* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #818a9a;
  --light-gray: #dde1e7;
  --shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
  --inset-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
}
